@import '~sass/basic';
@import '~sass/components/navbar';

.body {
    background:#0e0e0e;
}

.main-header {
    text-align: center;
    color:white;
    @include responsive-font(1.5vw, 18px);
}

.mass-operation-container {
    display : flex;
    justify-content: space-evenly;
    padding: 10px;
}

.mass-operation-control {
    flex-basis : 40%;
}

.delete-button {
    @include responsive-font(1.5vw, 18px);
    border-radius: 5px;
    background:red;
    color:white;
    font-weight: bold;
    text-align: center;
    cursor:pointer;
}