@import '~sass/basic';
@import "~sass/fonts";
@import "~sass/responsive_icon";
@import "~sasscomponent/controls/slider/standard_slider";

.save-button {
    margin: 7px auto;
}


.movie-description{
    margin: 8px auto;
    max-width:1400px;
}

@mixin panel-group {
    border-radius: 1vw;
    padding: 6px;
    margin: 0;
    border: 2px solid #35363a;;
}

@mixin control-panel-button-icon {
    vertical-align: middle;
    margin:0 2px;
    min-width: 12px;
    fill: white;
    height: auto;
}

@mixin fixed-control-control-panel-button {
    border: none;
    outline: none;
    display: block;
    padding: 2px;
    text-align: center;
    margin: 0 2px;
    border-radius: 0;
    cursor: pointer;
    white-space: nowrap;
    @include responsive-font(1.1vw, 13px);
    line-height: 1.5em;
    color: white;
    &:hover {
        filter: saturate(1.7);
    }
}

@mixin control-panel-button {
    line-height: 1.5em;
    &:hover {
        filter: saturate(1.7);
    }
}

.sex-ammount {
    margin: 10px 0;
}

.movie-duration {
    width:100%;
    background: #e1104a;
    border: none;
    color:white;
    padding: 4px;
}

.add-movie-panel {
    display: grid;
    padding: calc(30px + 1vw) 0 5px 0;
    grid-template-columns: repeat(4, 23%);
    grid-template-rows: auto;
    justify-content: space-evenly;
    max-height: 3000px;
    transition: max-height 1s;
    @media (max-width: 541) {
        margin-top: 70px;
    }
    @media (max-width: 1250px) {
        grid-template-columns: repeat(2, 43%);
    }
    @media (max-width: 700px) {
        grid-template-columns: 65%;
    }
    @media (max-width: 420px) {
        grid-template-columns: 98%;
    }

    &--hidden {
        max-height: 0;
    }
}

.information-content {
    @include responsive-font();
    color: white;
    margin: 0;
    padding: 0 0 7px 0;
    text-align: center;
}

.panel-group {
    @include panel-group();
    &--relative {
        @include panel-group();
        position: relative;
    }
}

.panel-group-legend {
    @include responsive-font(1.8vw, 25px);
    color: silver;
}

.info-decoration-icon {
    @include responsive-icon();
    vertical-align: middle;
    fill:#ec1515;
    height:auto;
}

#app .select_container {
    display: flex;
}

#app .select-container {
    display: flex;
}

#app .select-container__select {
    flex-grow: 10;
}

.select-container {
    margin: 10px 0;
}

.labeled-checkbox-description {
    @include responsive-font();
    color: white;
}

.movie-panel-checkbox {
    margin: 8px 0;
    @include responsive-font();
    color: white;
}

.range-selection{ 
    margin: 10px;
}

.range-selection-description {
    text-align: center;
    @include responsive-font();
    color: white;
    display: block;
    padding: 7px;
}

@include standard-slider(".range-selection__input");

#app .control-panel-button {
    &--type-reset {
        @include control-panel-button();
        &:hover {
            background: linear-gradient(#ec1515, #8a240a);
        }
    }

    &--type-submit {
        margin: 20px auto;
        @include control-panel-button();
        &:hover {
            background: linear-gradient(#0fe00b, #054004);
        }
    }
}

.control-panel-button__icon {
    width: 1em;
    @include control-panel-button-icon();

    &--bigger {
        width: 1.5em;
        @include control-panel-button-icon();
    }

    &--arrow-down {
        @include control-panel-button-icon();
        width: 15%;
    }

    &--reset {
        @include control-panel-button-icon();
        width:1.5em;
    }
}

.aditional-control-panel {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    top: calc(35px + 1vw);
    padding: 4px 0;
    box-shadow: 1px 1px 1px 1px black;
    z-index: 1;
    border: 1px solid black;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
    background: #151314;
    opacity: 1;
    transition: opacity 1.5s;

    &--hidden {
        opacity: 0;
    }

    &__description {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    &__button {
        &--green {
            @include fixed-control-control-panel-button();
            background: linear-gradient(#0fe00b, #054004);
        }

        &--red {
            @include fixed-control-control-panel-button();
            background: linear-gradient(#ec1515, #8a240a);
        }

        &--up {
            @include fixed-control-control-panel-button();
            background: #1d42d2;
        }

        &--light-red{
            @include fixed-control-control-panel-button();
            background: linear-gradient(to right, #b31f45, #da1047);
        }

    }
}