/***
    The new CSS reset - version 1.6.1 (last updated 25.5.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert; }

/* Preferred box-sizing value */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert; }

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none; }

/* For images to not be able to exceed their container */
img {
  max-width: 100%; }

/* removes spacing between cells in tables */
table {
  border-collapse: collapse; }

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert; }

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert; }

/* reset default text opacity of input placeholder */
::-webkit-input-placeholder {
  color: unset; }
::-moz-placeholder {
  color: unset; }
:-ms-input-placeholder {
  color: unset; }
::-ms-input-placeholder {
  color: unset; }
::placeholder {
  color: unset; }

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none; }

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly. */
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space; }

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element; }

.app-container {
  padding-top: 80px; }

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10; }

.list-element {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
     -moz-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.navigation-list {
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  background: #383436; }

.navigation-link {
  text-decoration: none;
  font-size: 1.5vw;
  font-family: "Exo 2", sans-serif;
  color: white;
  padding: 6px; }
  @media (max-width: 1200px) {
    .navigation-link {
      font-size: 17px; } }
  .navigation-link:hover {
    background: #59d407; }

.submit-button {
  padding: 6px;
  cursor: pointer;
  font-size: 1.5vw;
  font-family: "Exo 2", sans-serif;
  color: white;
  height: 100%; }
  @media (max-width: 1200px) {
    .submit-button {
      font-size: 17px; } }
  .submit-button:hover {
    background: crimson; }

.body {
  background: #0e0e0e; }

.main-header {
  text-align: center;
  color: white;
  font-size: 1.5vw;
  font-family: "Exo 2", sans-serif; }
  @media (max-width: 1200px) {
    .main-header {
      font-size: 18px; } }

.mass-operation-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
     -moz-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px; }

.mass-operation-control {
  -webkit-flex-basis: 40%;
      -ms-flex-preferred-size: 40%;
          flex-basis: 40%; }

.delete-button {
  font-size: 1.5vw;
  font-family: "Exo 2", sans-serif;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  background: red;
  color: white;
  font-weight: bold;
  text-align: center;
  cursor: pointer; }
  @media (max-width: 1200px) {
    .delete-button {
      font-size: 18px; } }

